code_coverage:
  format:
    - html
    - clover
  output:
    clover: coverage.clover
    html: coverage
extensions:
  - PhpSpec\NyanFormattersExtension\Extension
  - PhpSpec\Extension\CodeCoverageExtension
formatter.name: nyan.cat
suites:
  default:
    namespace: GitHook
    src_path: src
    spec_path: test
