extensions:
  - PhpSpec\NyanFormattersExtension\Extension
  - PhpSpec\Extension\CodeCoverageExtension
code_coverage:
  format:
    - html
    - clover
  output:
    clover: coverage.clover
    html: coverage
formatter.name: nyan.cat
suites:
  default:
    namespace: GitHooks
    src_path: src
    spec_path: tests
